pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
.DS_store
node_modules/
.shadow-cljs/
*.log
.env*
# Smoke test local config (do not commit)
smoke/app.js
